<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
</head>
<body>
  <div class="container">
    <h1>Page 1</h1>
    <form action="/route2">
      <input type="submit" value="Go to Page 2">
    </form>
  </div>
  </body>
</html>
